<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AttributeRouting" version="1.5.4426" />
  <package id="Backbone.js" version="0.9.1" />
  <package id="CraigsUtilityLibrary-DataTypes" version="3.0.0014" />
  <package id="CraigsUtilityLibrary-Events" version="3.0.0014" />
  <package id="CraigsUtilityLibrary-IO" version="3.0.0014" />
  <package id="CraigsUtilityLibrary-Reflection" version="3.0.0014" />
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="jQuery" version="1.7.1" />
  <package id="jQuery.UI.Combined" version="1.8.17" />
  <package id="jQuery.Validation" version="1.8.1" />
  <package id="jQuery.vsdoc" version="1.6" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Modernizr" version="1.7" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="NServiceMVC" version="1.0.1.22" />
  <package id="underscore.js" version="1.3.1" />
  <package id="WebActivator" version="1.5" />
</packages>